@model OAS.Models.fsTrxHdr

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>fsTrxHdr</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.DtTrx)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DtTrx)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.trxRemarks)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.trxRemarks)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtEntry)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtEntry)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EnteredBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EnteredBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.dtEdit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.dtEdit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditedBy)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditedBy)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.fsTrxStatu.Status)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.fsTrxStatu.Status)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
