@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Online Accounting System</h1>
    <p>
        Online Accounting System - is a web-based system for most basic accounting.
    </p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Transactions</h2>
        <p>Transactions entries</p>
        <p>@Html.ActionLink("List", "TransactionList", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Accounts</h2>
        <p>Management of companies chart of accounts</p>
        <p>@Html.ActionLink("Table", "AccountsList", null,new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Sub-Accounts</h2>
        <p>Master list of receivables (customers), payables (suppliers) and others entities involved in companies daily operations</p>
        <p>@Html.ActionLink("List", "SubAccountsList", null, new { @class = "btn btn-default" })</p>
    </div>
    <div class="col-md-4">
        <h2>Reports</h2>
        <p>
            Financial Reports
        </p>
        <p>@Html.ActionLink("Trial Balance", "TrialBalance", null, new { @class = "btn btn-default" })</p>
        <p>@Html.ActionLink("Income Statement", "AccountsList", null, new { @class = "btn btn-default" })</p>
        <p>@Html.ActionLink("Balance Sheet", "AccountsList", null, new { @class = "btn btn-default" })</p>
    </div>
</div>