@page
@model WebOAS.Pages.fsSubaccounts.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>fsSubAccnt</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fsSubAccnt.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fsSubAccnt.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fsSubAccnt.Remarks)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fsSubAccnt.Remarks)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fsSubAccnt.fsAccount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fsSubAccnt.fsAccount.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fsSubAccnt.fsEntity)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fsSubAccnt.fsEntity.Id)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.fsSubAccnt.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
