@page
@model WebOAS.Pages.fsTrx.fsDtl.DeleteModel

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>fsTrxDetail</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fsTrxDetail.Description)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fsTrxDetail.Description)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fsTrxDetail.Debit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fsTrxDetail.Debit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fsTrxDetail.Credit)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fsTrxDetail.Credit)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fsTrxDetail.fsAccount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fsTrxDetail.fsAccount.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fsTrxDetail.fsTrxHdr)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fsTrxDetail.fsTrxHdr.Id)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.fsTrxDetail.fsSubAccnt)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.fsTrxDetail.fsSubAccnt.Id)
        </dd>
    </dl>
    
    <form method="post">
        <input type="hidden" asp-for="fsTrxDetail.Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-page="./Index">Back to List</a>
    </form>
</div>
