@model IEnumerable<OAS.Models.fsTrxDetail>

@{
    OAS.Models.fsTrxHdr hdrItem = (OAS.Models.fsTrxHdr)ViewBag.header;

    ViewBag.Title = "Journal Entry";
}

<h2>Journal Entry</h2>
<p>
    SysId: <span style="color:blue;"> @hdrItem.Id</span> &diams; 
    Date: <span style="color:blue;"> @hdrItem.DtTrx.ToString("yyyy-MMM-ss")</span>  &diams;
    Entered by: <span style="color:blue;"> @hdrItem.EnteredBy @hdrItem.dtEntry.ToString("yyyy-MMM-ss")</span> 
</p>


<table class="table">
    <tr>
        <th>
            Accnt#
        </th>
        <th>
            SubAccnt#
        </th>
        <th>
            Description
        </th>
        <th>
            Debit
        </th>
        <th>
            Credit
        </th>
        <th>
            Remarks
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.fsAccount.AccntNo)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fsSubAccntId)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Description)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Debit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Credit)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.fsTrxHdr.trxRemarks)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>

<p>
    @Html.ActionLink("Add Row", "Create")
</p>
